<ion-view title="GroupDetail">
    <ion-content>
      <div class="row">
        <div class="col col-10">
          <div class="card">
            <div class="item item-text-wrap">
              <i class="icon ion-person"></i>
              {{loggedInUser}}
            </div>
          </div>

        </div>
      </div>

        <div id="item-list" class="list list-inset" ng-if="!showSummaryValue()">
          <a ng-repeat="item in group.items" class="item" href="#" ng-click="selectItem(item)">
              <span>{{item.name}}</span>
              <span>{{item.value}}</span>
              <br>
              <span ng-repeat="user in item.users">{{user.email}}</span>
          </a>
        </div>

        <div id="validateGroup" class="list list-inset" ng-if="!showSummaryValue()">
          <button class="button button-block" ng-click="summarizeGroup()">
            <i class="icon ion-social-usd"></i>
          </button>
        </div>

        <div id="summary" ng-if="showSummaryValue()">
              <div class="card">
                <div class="item item-divider">
                  <i class="icon ion-social-usd"></i>
                </div>
                <div class="item item-text-wrap">
                  <br><br><p>Total to pay:<br>{{displaySummaryValue()}}</p><br><br>
                </div>
              </div>
        </div>

    </ion-content>
</ion-view>
