<ion-view title="GroupDetail">
    <ion-content>

      <div class="card">
        <div class="item item-text-wrap">
          <i class="icon ion-person"></i>
          {{loggedInUser}}
          <br>
          <i class="icon ion-ios-people"></i>
          {{selectedGroup}}
        </div>
      </div>

        <div id="item-list" class="list list-inset" ng-if="!showSummaryValue()">
          <a ng-repeat="item in group.items" class="item" href="#" ng-click="selectItem(item)">
              <span>{{item.name}}</span>
              <span>{{item.value}}</span>
              <br>
              <span ng-repeat="user in item.users">&nbsp;{{user.email}}&nbsp;</span>
          </a>
        </div>

        <div id="validateGroup" class="list list-inset" ng-if="!showSummaryValue()">
          <button class="button button-block" ng-click="summarizeGroup()">
            <i class="icon ion-social-usd"></i>
          </button>
        </div>

        <div id="summary" ng-if="showSummaryValue()">
              <div class="card">
                <div class="item item-divider">
                  <i class="icon ion-social-usd"></i>
                </div>
                <div class="item item-text-wrap">
                  <h1 style="text-align:center;text-transform:uppercase;">Total to pay:</h1><br>
                  <h1 style="text-align:center;text-transform:uppercase;color:#A7C942;">
                    <i class="icon ion-cash"></i> {{displaySummaryValue()}} CFH
                  </h1><br><br>
                </div>
              </div>
        </div>

    </ion-content>
</ion-view>
