<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/ocrService.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-app="starter" ng-controller="Application">

  <script type="text/javascript" charset="utf-8">

    var pictureSource;   // picture source
    var destinationType; // sets the format of returned value

    // Wait for Cordova to connect with the device
    //
    document.addEventListener("deviceready",onDeviceReady,false);

    // Cordova is ready to be used!
    //
    function onDeviceReady() {
      pictureSource=navigator.camera.PictureSourceType;
      destinationType=navigator.camera.DestinationType;
      // After device ready, create a local alias
    }
  </script>

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">@escote</h1>
      </ion-header-bar>

      <ion-content>
        This is a hello world!

        <button ng-click="capturePhoto()">Capture Photo</button> <br>
        <button ng-click="capturePhotoEdit()">Capture Editable Photo</button> <br>

        Result:
        <p id="resultado">{{result}}</p>

        Error getting picture: {{errorGettingPicture}}
        <br>
        Error reading file: {{errorReadingFile}}
        <br>
        Status: {{status}}

      </ion-content>

    </ion-pane>
  </body>
</html>
